.app-menu {
  width: 18rem;
  background: var(--bs-body-bg);
  box-shadow: 0.125rem 0 0.5rem rgb(0 0 0 / 5%);
}

.list-group-item.active {
  color: var(--bs-primary);
  background-color: var(--bs-primary-bg-subtle) !important;
  border-color: transparent;
}
