<div class="d-flex flex-column gap-3" [formGroup]="form">
  <div>
    <label class="form-label" [for]="idPrefix + 'Title'">Title</label>
    <input
      class="form-control"
      [class.is-invalid]="isInvalid('title')"
      [id]="idPrefix + 'Title'"
      formControlName="title"
    />
  </div>

  <div>
    <label class="form-label" [for]="idPrefix + 'Description'">Description</label>
    <textarea
      class="form-control"
      [class.is-invalid]="isInvalid('description')"
      [id]="idPrefix + 'Description'"
      rows="4"
      formControlName="description"
    ></textarea>
  </div>
</div>
