/* You can add global styles to this file, and also import other style files */

$primary: #34d59a;
$btn-color: #fff;
$btn-hover-color: #fff;
$btn-active-color: #fff;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}
